[submodule ".registry"]
	path = .registry
	url = https://github.com/spectral-cockpit/spectral-cockpit.r-universe.dev
	branch = HEAD
[submodule "opusreader2"]
	path = opusreader2
	url = https://github.com/spectral-cockpit/opusreader2
[submodule "specprepper"]
	path = specprepper
	url = https://github.com/spectral-cockpit/specprepper
