[submodule ".registry"]
	path = .registry
	url = https://github.com/spectral-cockpit/universe
	branch = HEAD
[submodule "opusreader2"]
	path = opusreader2
	url = https://github.com/spectral-cockpit/opusreader2
